<!DOCTYPE html>
<html>
<head>
  <title>Static Files</title>
</head>
<body>
	<p>This is a static file serving example.</p>
			Choose an audio file for recognition: 
	<form name = "input" action = "/" method = "post" enctype="multipart/form-data">
		<input type = "file" name = "audioFile">
		<input type="submit" /> 
	</form>
	<b>{{ audioFile }}</b>
</body>
</html>